/node_modules
/public/build
/public/hot
/public/js
/public/css
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/*.csv
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/.devcontainer
/storage/api-docs
.php-cs-fixer.cache
**/*.sql
.DS_Store
*.log
# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json
